<div id="<%= dom_id playlist %>">
  <p>
    <strong>Name:</strong>
    <%= playlist.name %>
  </p>

  <p>
    <strong>Capacity of songs:</strong>
    <%= playlist.capacity_of_songs %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= playlist.description %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= playlist.account_id %>
  </p>

</div>
