<h1>New Account</h1>

<%= render "form", account: @account %>
<div>
    <%= f.label :first_name, style: "display: block" %>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :last_name, style: "display: block" %>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.label :num_of_songs_you_want, style: "display: block" %>
    <%= f.text_field :num_of_songs_you_want %>
  </div>

  <div>
    <%= f.label :username, style: "display: block" %>
    <%= f.text_field :username %>
  </div>
<br>

<div>
  <%= link_to "Back to accounts", accounts_path %>
</div>
